In [ ]:
Data Types:
    str
    list
    float
    tuple
    int
    dict
    None
    bool
    set

In [ ]:
Immutable: which we can't edit.(Can not be modified.)
    
Mutation ? X-men ? different strains of coronavirus? mutation in the virus

Mutable: Which can be changed.

In [ ]:
What are the immutable datatypes?
float
int
bool
str
tuple

In [ ]:
What are the mutable ones?
list
dict
set

In [ ]:
## Conditional statements

In [3]:
# a>5

# What is the datatype which should come in the if statement??
# => Boolean

# What are the different ways of

In [ ]:
## Syntax: how to use(write) a specific thing in a programming language (here python)

## Syntax of if statement:

if something_which_return_boolean(True/False):
<----> statements 1
<----> statements 2
<----> statements 3

In [8]:
# What are different ways of getting a boolean(True/False)?
# bool function returns the equivalent value of an expression in True or False

# In python there are few things which automatically gets converted to a boolean, to test which gets converted to 
# True or False we can take help of bool function.

b = 0
a = 0

print('The boolean equivalent of a is',bool(a==b))

The boolean equivalent of a is True

In [16]:
a = ''

b = 'hii'

print('The boolean equivalent of a is',bool(a))

print('The boolean equivalent of b is',bool(b))

The boolean equivalent of a is False
The boolean equivalent of b is True

In [14]:
a = 'hii'

b = 'hii'

print('The boolean equivalent of a==b is',bool(a==b))

The boolean equivalent of a==b is True

In [ ]:
a = []

b = ['hii']

print('The boolean equivalent of a is',bool(a))

print('The boolean equivalent of b is',bool(b))

In [21]:
a = 156
print('The boolean equivalent of Positive Numbers is',bool(a))

b = -456123
print('The boolean equivalent of Negative Numbers is',bool(b))

c = 0
print('The boolean equivalent of 0 is',bool(c))

# Only 0 in numbers is considered as False.
# Everything else is True

The boolean equivalent of Positive Numbers is True
The boolean equivalent of Negative Numbers is True
The boolean equivalent of 0 is False

In [23]:
a = None
print('The boolean equivalent of None is',bool(a))

The boolean equivalent of None is False

In [36]:
# Everything which seems to be like have some data is considered at True
True_equivalents = [True,123,-1231,45.34,-123.345,['python'],('hii'),{'set'},{'python':3,'java':8},'string']
for i in True_equivalents:
    print(i,'is ',bool(i))

True is  True
123 is  True
-1231 is  True
45.34 is  True
-123.345 is  True
['python'] is  True
hii is  True
{'set'} is  True
{'python': 3, 'java': 8} is  True
string is  True

In [35]:
# Everything which seems to be like Empty is considered as False.
False_equivalents = [False,0,'',None,[],(),{}]
for i in False_equivalents:
    print(i,'is ',bool(i))

False is  False
0 is  False
 is  False
None is  False
[] is  False
() is  False
{} is  False

In [37]:
complex_number = complex(2,3)

In [38]:
print(complex_number)

(2+3j)

In [ ]:
a = 23

In [45]:
# Mannish Question:
#     Sir something interesting I came across, if I do print(bool(int())) it
#     returns False, but if I do print(bool(int)) it returns True, can you please shed some light on this


print(bool(int()))
print(bool(int))

False
True

In [46]:
a = '23'

b = int(a)

print(type(b))

print(b)

<class 'int'>
23

In [47]:
a = int()

print(a)
print(type(a))

0
<class 'int'>

In [48]:
x = int

print(x)

print(type(x))

<class 'int'>
<class 'type'>

In [ ]:
a=8+7j #complex number of this type can be True or False?

In [50]:
# help(int)

In [51]:
print(bool(print('string')))  # is giving false

string
False

In [52]:
x = print('string') # Whatever print function is returning , we are storing that value in x

print(x)

string
None

In [ ]:
## print function prints the value to the output but does not reutrn anything

In [ ]:
why empty string inside a list return True??exp-a=[""]

In [54]:
x = []
y = ['']
bool(y)

True

In [ ]:
### LOOPS

In [56]:
BUS = ['Covid+','Covid+','Covid-','Covid+','Covid-','Covid+']

# How to count how many are covid + in this bus ?

# We will need to traverse this list Bus to get this.

In [57]:
for report in BUS:
    print(report)

Covid+
Covid+
Covid-
Covid+
Covid-
Covid+

In [ ]:
Syntax of For loop

for var in Iterable:
<---->statement 1
<---->statement 2
<---->statement 3
<---->statement x

In [ ]:
Q1 Make a list of numbers from 1 to 5 and print their value using for loop

5 mins.

In [ ]:
Q2 Print yes if x is divisible by 3 and 5 both.

Hints:
    Since 4 is divisible by 2 , it gives a 0 reminder
    
Pseudocode:
    1) Check if remainder obtained when you divide by 3 is 0
    2) Check if remainder obtained when you divide by 5 is 0
    3) Only if both are True, print ("yes")

5 mins

In [ ]:
Q3 Make a list of numbers from 1 to 10 and loop over them and print ('yes') if it is a even number
and ('no') if it is odd.

5 mins.

In [58]:
# A1)
list_of_numbers = [1,2,3,4,5]

for number in list_of_numbers:
    print(number)

1
2
3
4
5

In [70]:
# A2

x = 30

if x%3 == 0 and x%5 == 0:
    print(x, "is divisible by 3 and 5 both")

30 is divisible by 3 and 5 both

In [64]:
0 == 0

True

In [65]:
True and True

True

In [66]:
False and True

False

In [67]:
True and False

False

In [ ]:
## Even numbers are those which are divisible by 2
## Odd numbers are those which are NOT divisible by 2

In [72]:
list_numbers = [1,2,3,4,5,6,7,8,9,10]

for no in list_numbers:
    if no%2 == 0:
        print(no,'YES')
    else:
        print(no,'NO')

1 NO
2 YES
3 NO
4 YES
5 NO
6 YES
7 NO
8 YES
9 NO
10 YES

In [73]:
fruits = ['kiwi','apple',123,'mango',[12,24,35],(1,2),{1,2,3}]

for val in fruits:
    print(val)

kiwi
apple
123
mango
[12, 24, 35]
(1, 2)
{1, 2, 3}

In [ ]:
All the things which we can loop over are known as ITERABLES.

In [ ]:
ITERABLES ARE GENERALLY THOSE WHICH ARE LIKE A COLLECTION.

In [ ]:
SOME ITERABLES ARE:
    list
    str
    tuple
    dict
    set
    range

In [ ]:
SOME NON ITERABLES:
    float
    bool
    int
    None

In [74]:
test_string = 'The Quick Brown Fox jumps over a lazy dog'

for char in test_string:
    print(char)

T
h
e

Q
u
i
c
k

B
r
o
w
n

F
o
x

j
u
m
p
s

o
v
e
r

a

l
a
z
y

d
o
g

In [ ]:
SPACE IS ALSO A CHAR( IT HAS A LIFE TOOOO!!!)

In [76]:
test_string = 'app le'

# len function can calculate length of a string.

In [77]:
len(test_string)

6

In [78]:
test_tuple = (1,2,3)

for i in test_tuple:
    print(i)

1
2
3

In [80]:
test_set = {1,2,3,4,4,4,4,4,4,4,4,4,4,4}
print(test_set)
for i in test_set:
    print(i)

{1, 2, 3, 4}
1
2
3
4

In [82]:
test_dict = {'python':3,'java':8}

for i in test_dict:
    print(i)

python
java

In [ ]:
dict = {key:value,key:value,,,,etc}

In [ ]:
## What if I want to have the value as well??

In [83]:
test_dict = {'python':3,'java':8}

for i in test_dict.items():
    print(i)

('python', 3)
('java', 8)

In [84]:
test_dict = {'python':3,'java':8}

print(test_dict.items())

dict_items([('python', 3), ('java', 8)])

In [85]:
test_dict = {'python':3,'java':8}

print(test_dict.keys())

dict_keys(['python', 'java'])

In [86]:
test_dict = {'python':3,'java':8}

print(test_dict.values())

dict_values([3, 8])

In [87]:
for i in test_dict.values():
    print(i)

3
8

In [ ]:
set is defined by curly brackets {{{{{{{{{{}}}}}}}}}}

In [ ]:
## range function

range function provides us an sequence of numbers.

In [ ]:
numbers_list = [1,2,3,4,5,6,7,8,,9,10]

In [89]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
Syntax of range function:
    range(start,stop,step)
    
start: from which the counting will start.
stop: upto but not including
step: to jump

In [ ]:
type-casting means converting one data type into another.

Few conversion are allowed by Python.

In [92]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [93]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [95]:
list(range(6,20,2))

[6, 8, 10, 12, 14, 16, 18]

In [96]:
list(range(20,2,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4]

In [97]:
list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

In [ ]:
range is not a datatype but still it contains a collection.

In [110]:
for no in range(1,10):
    print(no)

1
2
3
4
5
6
7
8
9

In [101]:
a = set()

print(type(a))

<class 'set'>

In [104]:
a = {2,3,4}

print(type(a))

<class 'set'>

In [ ]:
## Complex Numbers ??

In [ ]:
2 + 3j

2 is an real part and 3 is an imaginary part.

In [105]:
complex_no = complex(2,3)

In [106]:
complex_no

(2+3j)

In [107]:
complex_no_2 = complex(1,1)

In [108]:
complex_no_2

(1+1j)

In [109]:
complex_no + complex_no_2

(3+4j)