In [15]:
list1 = [1,3,5,7,9]
list2 = [2,4,6,8,10]
list3 = []
for i in range (len(list1)):
    list3.append(list1[i])
    list3.insert(len(list3),list2[i])
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
l1 = [1,3,5,7,9]
l2 = [2,4,6,8,10]
index = 0
for i in range(1,11,2):
    l1.insert(i, l2[index])
    index += 1
        
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Q1) Store Alphabets as "keys" and their ASCII values as "values" to those keys.

### Intuition: Use "ord" and "chr"

### Pseudocode:
    1.) Loop from a to z.
    2.) store them as keys and find their ascii to store them as values.

In [24]:
print(ord('a'))

print(ord('z'))


print(chr(97))

alpha_dict = {}

alpha_dict[chr(97)] = 97

print(alpha_dict)

97
122
a
{'a': 97}

In [2]:
alpha_dict ={}

for i in range(ord('a'),ord('z')+1):
    alpha_dict[chr(i)] = i

print(alpha_dict)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [4]:
a_dict = dict()
for i in range(ord('a'), ord('z')+1):
    a_dict[chr(i)] = i
print(a_dict)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [ ]:
Python 3.5 + : dicts are insertion sorted.

In [6]:
dict={}
for i in range(ord('a'),ord('z')+1):
    dict[chr(i)]=ord(chr(i))
print(dict)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [ ]:
## BUILTIN OF DICTS

In [25]:
d = {'python':3,'django':2,'java':8}

# get

print(d['python'])

3

In [26]:
d.get('python')

3

In [27]:
d.get('python','Not found')

3

In [28]:
d.get('python45','Not found')

'Not found'

In [31]:
print(d.get('python45'))

None

In [29]:
print(d['python45'])

KeyError: 'python45'

In [ ]:
GET:
    IF KEY EXISTS: RETURN THE VALUE
    ELSE: RETURN NONE OR SPECIFIED RETURN VALUE.

# setdefault

In [32]:
d = {'python':3,'django':2,'java':8}

In [33]:
d.setdefault('maggi',5)

5

In [34]:
d

{'python': 3, 'django': 2, 'java': 8, 'maggi': 5}

In [35]:
d.setdefault('django',4)

2

In [37]:
d

{'python': 3, 'django': 2, 'java': 8, 'maggi': 5}

In [36]:
# If present return original value

In [ ]:
# setdefault:
if key exists: return the old value
else: add to the dict and return the same value.

In [38]:
# Inspired from Q1 and setdefault usage.
# Q We have a dict, with few numbers for alphabets as keys.
# Objective: We have to add alphabets which are not present in the dict, with their ascii values.

In [39]:
alpha_dict = {'a':9700,'q': 11300}

for i in range(ord('a'),ord('z')+1):
    alpha_dict.setdefault(chr(i),i)

print(alpha_dict)

{'a': 9700, 'q': 11300, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [40]:
# membership operator in a dict
# in and not in

In [41]:
d = {'python':3,'django':2,'java':8}


if 3 in d:
    print("Yes we found a value using membership operator.")
else:
    print("No we can not found a value using membership operator.")

No we can not found a value using membership operator.

In [43]:
d = {'python':3,'django':2,'java':8}


if 'django' in d:
    print("Yes we found a key using membership operator and the corresponging value is",d['django'])
else:
    print("No we can not found a key using membership operator.")

Yes we found a key using membership operator and the corresponging value is 2

## Q2) Count the number of occurrence of each letter in word "apple". Store count of every letter with the letter in a dictionary.

### Intuition: Use in operator to check if it already exist.

### Pseudocode:
    1.)loop over all the chars in "apple".
    2.)if char already exist, increase it's count, else give it count = 1

In [ ]:
soln: d = {'a':1,'p':2,'l':1,'e':1}

In [49]:
dict1 = {}
word = 'apple'
for i in word:
    dict1.setdefault(i, word.count(i))
        
print(dict1)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [50]:
word = "apple"
  
alpha = {} 
  
for i in word: 
    if i in alpha: 
        alpha[i] += 1
    else: 
        alpha[i] = 1
        
print(alpha)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

## ERROR LIST INDEX OUT OF RANGE BECAUSE WE ARE REMOVING ELEMENTS WHICH CHANGES THE TOTAL ELEMENTS AS WEEL AS THEIR INDEX POSITION.

#### l=[1,2,3,4,5,6]
#### for i in l:
#### -----l.remove(l[i])
## sir im facing issue with this can u please help its giving index out of bound but why is it so?

In [47]:
l=[1,2,3,4,5,6]

while(len(l) > 0):
    print(l)
    l.pop()
    print(len(l))
    
print('finally',l)

[1, 2, 3, 4, 5, 6]
5
[1, 2, 3, 4, 5]
4
[1, 2, 3, 4]
3
[1, 2, 3]
2
[1, 2]
1
[1]
0
finally []

In [ ]:
Delete:
    pop => key, removes the key-value pair and return value
    popitem => 3.6, it removes the last added key value pair, returns the key-value pair
    ## coz dict are insertion ordered from py3.5+
    clear => empty the dict, return None
    del => del the ref as well as Name, along with the object.

In [51]:
d = {'python':3,'django':2,'java':8}

d.pop('java')

8

In [52]:
d

{'python': 3, 'django': 2}

In [53]:
d.pop() # pop does not work without an argument in dicts.

TypeError: pop expected at least 1 argument, got 0

In [54]:
d = {'python':3,'django':2,'java':8}

x = d.popitem()

print('x is ',x)
print('d is ',d)

x is  ('java', 8)
d is  {'python': 3, 'django': 2}

In [55]:
d = {'python':3,'django':2,'java':8}

x = d.clear()

print('x is ',x)
print('d is ',d)

x is  None
d is  {}

In [56]:
d = {'python':3,'django':2,'java':8}

del d

print(d)

NameError: name 'd' is not defined

In [ ]:
## fromkeys()

In [61]:
s1 = '12345'
l1 = [1,2,3,4,5]
t1 = ('apple','mango','peach')

d = dict.fromkeys(t1,'Hello Mars!!')

print(d)

{'apple': 'Hello Mars!!', 'mango': 'Hello Mars!!', 'peach': 'Hello Mars!!'}

In [ ]:
## update()

In [62]:
d1 = {'1':1,'2':4,'3':9}

d2 = {'2':25,'6':36}

d1.update(d2)

print(d1)

{'1': 1, '2': 25, '3': 9, '6': 36}

## SETS?

In [ ]:
COLLECTION OF UNIQUE ELEMENTS

{} curly bracket (which is also used in dicts.)

how would Python know if it is a dict or set?

if : is present, than it will understand that it is a key-value pair, Hence Dict. Otherwise Set.

In [71]:
x = {'python','django','java','numpy','pandas'}

In [72]:
type(x)

set

In [74]:
x[0]

TypeError: 'set' object is not subscriptable

In [ ]:
IT DOES NOT KEEPS THE ORDER INTACT.

SOMETIMES THE ORDER MAY REMAIN SAME. (IF YOU ARE INTERESTED HOW THIS HAPPENS, SEARCH ON THE INTERNET ABOUT HASHING IN DICT AND SET IN PYTHON)

In [ ]:
-> Mutable
-> unordered (we can not do slicing and indexing.)
-> iterable

In [77]:
x = {'python','django','java','numpy','pandas'}

x[0]

TypeError: 'set' object is not subscriptable

In [76]:
x = {'python','django','java','numpy','pandas'}
# range() fun accepts only integers.
len(x)

for i in range(len(x)):
    print(i)

0
1
2
3
4

In [78]:
x = {'python','django','java','numpy','pandas'}
for item in x:
    print(item)

python
django
numpy
java
pandas

In [ ]:
2 MOST IMP POINTS ABOUT SET.

=> ALL THE ELEMENTS SHOULD BE UNIQUE.

=> ALL THE ELEMENTS SHOULD BE IMMUTABLE => INT,STR,FLOAT,TUPLE

In [ ]:
2 MOST IMP POINTS ABOUT DICT.

=> ALL THE KEYS SHOULD BE UNIQUE.

=> ALL THE KEYS SHOULD BE IMMUTABLE => INT,STR,FLOAT,TUPLE

In [ ]:
BOTH DICT AND SET USES THE SAME OUTER SYMOBOL {} (CURLY BRACKET)

In [ ]:
sir it might be because of way it stores values using hashing

dict have values and pair while set have keys only

In [ ]:
SETS AND DICTS ARE INERNALLY SAME OR USE THE SIMILAR THING TO STORE THE KEYS.

SETS ONLY CONTAIN KEYS , AND DICT CONTAING KEY-VALUE PAIR.

In [ ]:
2 MOST IMP THINGS ABOUT DICT AND SET:
    1) KEYS ARE UNIQUE.
    2) KEYS ARE IMMUTABLE.

In [79]:
# HOW DO WE CREATE A SET WITH SINGLE ELEMENT?

x_set = {'python'}

In [80]:
print(type(x_set))

<class 'set'>

In [81]:
x_set = {'python':3}

print(type(x_set))

<class 'dict'>

In [82]:
x_dict = {[1,2,3]:'python'}  # list are mutable, so can not be a key.

TypeError: unhashable type: 'list'

In [83]:
l1 = []

l2 = list()

print(type(l1),type(l2))

<class 'list'> <class 'list'>

In [1]:
l2 = list()
d1 = dict()
s1 = set()
t1 = tuple()

for i in [l2,d1,s1,t1]:
    print(type(i))

<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

In [5]:
x = int()
y = float()
z = bool()

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'bool'>

In [4]:
x

0

In [6]:
y

0.0

In [7]:
z

False

In [8]:
## TYPE CASTING
## USED TO CONVERT FROM ONE DATA TYPE TO ANOTHER.

L1 = [1,1,1,1,1,2,3,3,3,4,5,6]
T1 = tuple(L1)

print(type(T1),T1)

<class 'tuple'> (1, 1, 1, 1, 1, 2, 3, 3, 3, 4, 5, 6)

In [9]:
tuple(4.5)

TypeError: 'float' object is not iterable

In [10]:
tuple('abcdefg')

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [11]:
## REMOVING DUPLICATE ELEMENTS FORM A LIST.
L1 = [1,1,1,1,1,2,3,3,3,4,5,6]
S1 = set(L1)

print('S1:',type(S1),S1)

L2 = list(S1)

print('L2:',type(L2),L2)

S1: <class 'set'> {1, 2, 3, 4, 5, 6}
L2: <class 'list'> [1, 2, 3, 4, 5, 6]

In [12]:
## WHY IT COULD BE A BAD IDEA!?

BECAUSE IF WE WANT THE ORDER TO REMAIN INTACT , THIS SOLUTION WILL NOT WORK FOR US.

## REMOVING DUPLICATE ELEMENTS FORM A LIST.
L1 = ['python','django','zebra','kiwi','python','zebra','kiwi']
## L1_without_duplicates = ['python','django','zebra','kiwi']
S1 = set(L1)

print('S1:',type(S1),S1)

L2 = list(S1)

print('L2:',type(L2),L2)

S1: <class 'set'> {'zebra', 'kiwi', 'django', 'python'}
L2: <class 'list'> ['zebra', 'kiwi', 'django', 'python']

In [14]:
## possible soln to save the order and remove the duplicates.

L1 = ['python','django','zebra','kiwi','python','zebra','kiwi']

L2 = []

for item in L1:
    if item not in L2:
        L2.append(item)

print(L2)

['python', 'django', 'zebra', 'kiwi']

In [ ]:
SET OPERATIONS:

UNION, INTERSECTION, DIFFERENCE, SYMMETRIC DIFFERENCE, SUBSET OF, SUPERSET OF

In [15]:
S1 = {10,20,30,40,50,60}
S2 = {40,50,60,70,80,90}

In [17]:
S1.union(S2)

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [18]:
S1.intersection(S2)

{40, 50, 60}

In [19]:
S2.intersection(S1)

{40, 50, 60}

In [20]:
S2.difference(S1)

{70, 80, 90}

In [21]:
S1.difference(S2)

{10, 20, 30}

In [22]:
S1.symmetric_difference(S2)

{10, 20, 30, 70, 80, 90}

In [23]:
S2.symmetric_difference(S1)

{10, 20, 30, 70, 80, 90}

In [26]:
S3 = S1.difference(S2)
print('S3:',S3)

print('S1:',S1)

S3: {10, 20, 30}
S1: {40, 10, 50, 20, 60, 30}

In [25]:
S3.issubset(S1)

True

In [27]:
S1.issuperset(S3)

True

In [28]:
S4 = {10,20,30,100}

S4.issubset(S1)

False

In [29]:
S1.issubset(S4)

False

In [30]:
S4 = {10,20,30,100}

S4.add(200)

print(S4)

{100, 200, 10, 20, 30}

In [ ]:
DELETE:
    pop
    remove
    discard
    clear
    del

In [31]:
S4 = {10,20,30,100}

S4.clear()
print(S4)

set()

In [32]:
S4 = {10,20,30,100}
del S4

print(S4)

name,ref,object all is deleted.

NameError: name 'S4' is not defined

In [34]:
S4 = {10,20,30,100}

print(S4)
S4.pop()

print(S4)

S4.pop()

print(S4)

{100, 10, 20, 30}
{10, 20, 30}
{20, 30}

In [35]:
S4 = {10,20,30,100}

S4.remove(10)

print(S4)

{100, 20, 30}

In [5]:
S4 = {10,20,30,100}

S4.remove(1000)

print(S4)

KeyError: 1000

In [6]:
S4 = {10,20,30,100}

S4.discard(10000) ## does not gives me an error if not present

print(S4)

{100, 10, 20, 30}

# DO NOT USE PYTHON RESERVED KEYWORDS AS VARIABLE NAMES.

In [37]:
# <!-- ## PYTHON RESERVED KEYWORDS: -->

# -> all the syntax things: for,while,if,else,elif,in,not in,is,return,break,continue
# -> names of data types: str,float,int,tuple,list,dict,set,
# -> builtin fun names: print,sum,max,min,range,etc

In [1]:
sum1 = 5 ## we have modfied the sum function name to be a integer.

In [2]:
sum([3,4])

7

In [ ]:
restart the kernel and change the code,