In [1]:
Jupyter Notebook is used to Write Python, Write Text about it, do lot of other things.
So that we can consider it like a Notebook to re-read or understand at a later Point of time.
In data science we use it showcase our findings.

Cell => Single Rectangular box in which you write code/text.
Outline color of a Cell
Green => Type code/text(markdown)

Blue => CMD MODE (So you can not type in that mode.)

How do we get into cmd mode?
By pressing ESC

CMD MODE can be used to
1) Delete a cell by going into cmd mode and pressing dd.
2) Converting the cell into markdown by going into cmd mode and pressing m.
3) etc but we don't need others much.

how to get bAck from cmd to text mode/code mode
=> by clicking the cell.

hello world!! again

In [ ]:
How to Execute a Cell?

Shift + Enter => Execute and Insert a new cell.

In [2]:
What is Markdown?
the cell will be no longer coding cell it will become personalized text box
similar to html.

-> This is used to Write beautifull Notes.

I can insert links, text bold text, images and a lot of other things.

Markdown cell does not contain the In[1] etc.

# Heading 1

## Heading 2

### Heading 3

#### Heading 4
----------------------

In [3]:
What is In[a Number] infront of every Cell in jupyter notebook?

It actually tell us when was this cell or at which number this cell was executed.

In [6]:
print("Hi My name is Mohit")
print('Hi My name is Mohit',200)

Hi My name is Mohit
Hi My name is Mohit 200

In [5]:
print(100,200)

100 200

In [ ]:
Small Intro to
Data types:
    1. int Examples = 10,-2,-10,14
    2. float Examples = 13.4,-10.55,etc
    3. String (str) => "Hi I am a String" , 'Hi I am also a str' , "It wasn't my fault" , 
    """Hi this is also a String"""
    4. list : a collection of objects ['Mohit','Kunal','PandeyJi',12,34,45.45,567.89]
    5. tuple : a collection of objects but it is immutable(we can not edit that)
        ('Mohit','Borra','sai','Tiwari',34,45.67)
    6. dict : a collection of key:value pairs.
    heights = {"mohit":"175cm","rahul":"180cm","dubeyJi":"182cms"}
    print(heights["mohit"]) // 175cm
    keys are unique, but values can be repeated.
    7. set: it is also a collection but every object will be unique in this collection.
        {'mohit','rashmi','sai',345.56,456.7}
        they can not keep the order of objects intact.

In [18]:
heights = {"mohit":"175cm","rahul":"180cm","dubeyJi":"182cms","mohit":"200cm"} # the earlier mohit

# mohit will be overwritten

In [15]:
print(heights["mohit"])

200cm

In [12]:
print(heights["rahul"])

180cm

In [16]:
print(heights)

{'mohit': '200cm', 'rahul': '180cm', 'dubeyJi': '182cms'}

In [27]:
## set example
test_set = {'mohit','rashmi','sai',345.56,456.7,'mohit','rashmi',345.56}

In [28]:
print(test_set)

{'sai', 'rashmi', 456.7, 'mohit', 345.56}

In [29]:
test_list = ['mohit','rashmi','sai',345.56,456.7,'mohit','rashmi',345.56]

In [30]:
print(test_list)

['mohit', 'rashmi', 'sai', 345.56, 456.7, 'mohit', 'rashmi', 345.56]