In [ ]:
DataTypes:
    int
    float
    str
    list
    tuple
    dict
    set
    bool
    None

In [ ]:
int vs float? we can decimal point in float

In [ ]:
str ? 'apple' , "mango" , """banana"""

In [ ]:
"i don't know"

In [ ]:
diff between list and tuple?

In [ ]:
tuple is immutable.

In [ ]:
## Immutables

int
float
str
tuple (12,25,[1,4,3])
bool

In [10]:
students_names = ('Yogesh','Jitendra','Hrishabh',12,23.5)

In [11]:
## index positions are there in tuples also, similar to lists.
students_names[2]

'Hrishabh'

In [12]:
students_names[2] = 'Rishabh'

TypeError: 'tuple' object does not support item assignment

In [13]:
students_names[3] = 24

TypeError: 'tuple' object does not support item assignment

In [ ]:
so tuples are immutable.

In [14]:
fruit = 'apple'

In [15]:
# indexing is also allowed in string as well.

fruit[2]

'p'

In [16]:
fruit[3]

'l'

In [17]:
fruit[3] = 'm'

TypeError: 'str' object does not support item assignment

In [ ]:
so str are also immutable.

In [18]:
fruit = 'kiwi'

In [19]:
print(type(fruit))

<class 'str'>

In [20]:
id(fruit)

115738368

In [22]:
## Arithmetic Operators

# ** => power

In [23]:
2**5

32

In [ ]:
# % => Modulus Operator: gives remainder when a is divideb by b (where a%b)

In [24]:
5/2

2.5

In [25]:
5//2

2

In [26]:
5%2

1

In [27]:
7%3

1

In [28]:
15%3

0

In [33]:
26.16%4

2.16

In [34]:
24.5/2

12.25

In [35]:
24.5//2

12.0

In [30]:
# Comparison Operators

In [38]:
a = 10
b = 10

In [39]:
comparing equal values
a == b

True

In [40]:
# != (not equals to)

a = 10
b = 20

print(a!=b)

True

In [46]:
# >,<,<=,>=

a = 20
b = 20

print(a<=b)

True

In [ ]:
Logical Operators

and, or , not

In [47]:
not True

False

In [48]:
not False

True

In [49]:
0 and 0

0

In [50]:
1 and 0

0

In [51]:
0 and 1

0

In [52]:
1 and 1

1

In [53]:
True and True

True

In [54]:
-1 and 0

0

In [55]:
-1 and 1

1

In [56]:
-1 and -1

-1

In [57]:
False and True

False

In [58]:
True and False

False

In [59]:
not 0

True

In [60]:
not 1

False

In [61]:
not False

True

In [62]:
not True

False

In [ ]:
## Membership Operators:
1) in
2) not in

In [73]:
fruits = {'apple','mango','kiwi'} # list,sets,tuples

In [74]:
'banana' in fruits

False

In [75]:
'kiwi' in fruits

True

In [76]:
'banana' not in fruits

True

In [77]:
'kiwi' not in fruits

False

In [78]:
# In dict, membership operators works on keys.

fruits = {'apple':20,'mango':15,'kiwi':10} # dict

In [79]:
'apple' in fruits # 'apple' is a key

True

In [80]:
20 in fruits # it tries to find if there is a key named as 20.

False

In [81]:
a = 20
20 in a

TypeError: argument of type 'int' is not iterable

In [ ]:
# iterables?? 

these are things on which we can loop over. 

1)list
2)tuple
3)set
4)dict
5)str

In [ ]:
## membership operators work on iterables type only.

In [ ]:
membership operators check if a element is in the collection.
Since non iterables does not have a collection

There is no meaning of this line that an element in a collection.

In [ ]:
non iterables:
    1) int
    2) float
    3) bool
    4) None

In [83]:
2 in 2

TypeError: argument of type 'int' is not iterable

In [86]:
'T' in True

TypeError: argument of type 'bool' is not iterable

In [87]:
'p' in 'python'

True

In [89]:
type('python')

str

In [90]:
'pyt' in 'python'

True

In [91]:
'pr' in 'python'

False

In [92]:
list_1 = [2,4]

list_2 = [[2,4],[1,3]]

print(list_1 in list_2)

True

In [93]:
print(list_2 in list_1)

False

In [94]:
print(2 in list_1)

True

In [ ]:
## Identity Operators

1) is
2) is not.

In [82]:
1 is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-82-c4ba21148a2b>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1

True

In [95]:
a = 20
b = 20

print(a is b)

True

In [98]:
a = 20
b = 20

print(a == b)

True

In [96]:
a = (1,2)
b = (1,2)

print(a is b)

False

In [97]:
print(a==b)

True

In [99]:
a = [1,2]
b = [1,2]

In [100]:
id(a)

115801448

In [101]:
id(b)

110453096

In [102]:
id(a) == id(b)

False

In [103]:
a is b # is a short form for id(a) == id(b)

False

In [104]:
a is not b # is a short form for id(a) != id(b)

True

In [ ]:
a=[1,2]
b=[1,2]
id(a[0])=id(b[0])

In [ ]:
# Assignment Operators

1)=
2)+=
3)-=
4)*=
5)/=
6)//=
7)%=

In [105]:
a = 8
a-=2 # is a short form for a = a-2

print(a)

6

In [106]:
b = 4
b*=3  # is a short form for b = b*3
print(b)

12

In [107]:
c = 10
c%=2  # is a short form for c = c%2
print(c)

0

In [108]:
c = 13
c%=2  # is a short form for c = c%2
print(c)

1

In [ ]:
## Usage of round brackets.

In [ ]:
Q1: print(100 != 100 or 100 == 100)
    
Q2: print(True and True)
    
Q3: print((True or False) and (False and True))

In [109]:
print((True or False) and (False and True))

False

In [110]:
print(not(100!=100 or 100!=50))

False

In [111]:
a = 200
a+=100 # 300
a-=20 # 280
a*=10 # 2800

print(a)

2800