# LISTS

In [ ]:
append,extend, +

In [1]:
# Q1.

l1 = [[1,2,3],[4,5,6]]  # nested lists. list of lists.

l2 = []

# finally l2 = [1,2,3,4,5,6]

In [5]:
for list1 in l1:
    print(list1)

[1, 2, 3]
[4, 5, 6]

In [3]:
for list1 in l1:
    for value in list1:
        l2.append(value)

1
2
3
4
5
6

In [4]:
extend ?

[1, 2, 3, 4, 5, 6]

In [ ]:
[1,2,3] [4,5,6] ?

In [7]:
l2 = []
for list1 in l1:
    l2.extend(list1)

In [8]:
l2

[1, 2, 3, 4, 5, 6]

In [9]:
# using +

l2 = []
for list1 in l1:
    l2 = l2 + list1

In [10]:
l2

[1, 2, 3, 4, 5, 6]

In [11]:
# Q2.

matrix1 = [[1,2,3],[4,5,6],[7,8,9]]

matrix2 = [[100,200,300],[400,500,600],[700,800,900]]

# matrix3 = [[101,202,303],[404,505,606],[707,808,909]]

In [14]:
matrix1 = [[1,2,3],[4,5,6],[7,8,9]]
matrix2 = [[100,200,300],[400,500,600],[700,800,900]]
result = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(matrix1)):    
    for j in range(len(matrix1[0])): 
        result[i][j] = matrix1[i][j] + matrix2[i][j] 
for r in result:
    print(r)

[101, 202, 303]
[404, 505, 606]
[707, 808, 909]

In [19]:
mat= [[1,2,3],[4,5,6],[7,8,9]]
mat2 = [[100,200,300],[400,500,600],[700,800,900]]
mat3 = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(mat)):
    for j in range(len(mat[0])):
        mat3[i][j] = mat[i][j] + mat2[i][j]

mat3

[[101, 202, 303], [404, 505, 606], [707, 808, 909]]

In [21]:
X = [[1,2,3],[4,5,6],[7,8,9]]
Y = [[100,200,300],[400,500,600],[700,800,900]]
result = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(X)):
    for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j]
print(result)

[[101, 202, 303], [404, 505, 606], [707, 808, 909]]

In [ ]:
# this code is not pythonic

In [ ]:
#pythonic way

In [23]:
l1 = [1,2,3]
l2 = [100,200,300]

matrix3 = []
temp = []

temp.append(l1[0]+l2[0])
temp.append(l1[1]+l2[1])
temp.append(l1[2]+l2[2])


matrix3.append(temp)
print(matrix3)

[[101, 202, 303]]

In [24]:
matrix1 = [[1,2,3],[4,5,6],[7,8,9]]
matrix2 = [[100,200,300],[400,500,600],[700,800,900]]
matrix3 = []

for row_index in range(len(matrix1)):
    temp = []
    for col_index in range(len(matrix1[0])):
        temp.append(matrix1[row_index][col_index] + matrix2[row_index][col_index])
    matrix3.append(temp)

print(matrix3)

[[101, 202, 303], [404, 505, 606], [707, 808, 909]]

## insert

In [25]:
l = [100,200,300]

# l = [100,24,200,300]

l.insert(1,24)

print(l)

[100, 24, 200, 300]

In [26]:
# [100, 24, 200,48, 300]
l.insert(3,48)

print(l)

[100, 24, 200, 48, 300]

In [29]:
# Q3. Pleaseeeeeeeeee use insert to solve this.
l1 = [1,3,5,7,9]
l2 = [2,4,6,8,10]

# l3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Homework Question.

## deleting operations.

In [ ]:
1. pop => index, by default remove the last element, returns the element which got popped.

2. remove => value, it will not return anything.

3. clear => removes all the elements, empties the list.

4. del => del the ref as well as the name of the list.

In [ ]:
list1 = [-1,-2,-3]

x = list1.pop(0)


# del list1

## tuples

In [ ]:
=> similar to list but they are immutable.
=> they can also store anything like list (hetero)

t1 = ([1,2,3],{'python':3,'java':8})

=> iterable

=> ordered: indexing and slicing
    
=> round brackets ()

In [31]:
tuple1 = (1,2,3,4,5)

In [32]:
tuple1[3]

4

In [33]:
type(tuple1)

tuple

In [ ]:
slicing in tuples (similar to list and strings.)

In [38]:
tuple1[1:4:2]

(2, 4)

In [ ]:
# how can i reverse a tuple using slicing?

In [39]:
tuple1[::-1]

(5, 4, 3, 2, 1)

In [ ]:
(1,2,3)

In [37]:
(2,)

(2,)

In [ ]:
How do we define a tuple with single element?

In [40]:
tuple1 = (2,)

In [41]:
type(tuple1)

tuple

In [42]:
tuple2 = (2)

type(tuple2)

# remember to use a comma while creating a tuple with single element

int

In [43]:
## tuple unpacking

t1,t2,t3 = (1,2,3)

In [44]:
print(t1)

1

In [45]:
t2

2

In [46]:
t3

3

In [47]:
list1 = [1]

type(list1)

list

In [ ]:
most of the functions of "list" that does not involve editing works on "tuple" as well.

which involves editing: append,extend,insert
    
which does not involves editing: count,index

In [48]:
list1 = [100,200,100,1,2,2,2,2,3]

list1.count(100)

2

In [49]:
tuple1 = (100,200,100,1,2,2,2,2,3)

tuple1.count(100)

2

In [51]:
list1 = [100,200,100,1,2,2,2,2,3]

list1.index(2)

4

In [52]:
tuple1 = (100,200,100,1,2,2,2,2,3)

tuple1.index(2)

4

In [53]:
## enumerate with tuple unpacking

l = ['python','java','c++','perl']

for index,value in enumerate(l):
    print(index,' value is ',value)

0  value is  python
1  value is  java
2  value is  c++
3  value is  perl

In [54]:
## enumerate without tuple unpacking

l = ['python','java','c++','perl']

for t in enumerate(l):
    print(t,type(t))

(0, 'python') <class 'tuple'>
(1, 'java') <class 'tuple'>
(2, 'c++') <class 'tuple'>
(3, 'perl') <class 'tuple'>

In [55]:
l1,l2 = [1,2]

print(l1)

1

In [56]:
print(l2)

2

## Q.5) given two tuples , arrange their unique elements in sorted order in a list

### Intuition: Tuples are immutable, create an empty list to store the unique elements and sort them.

### Pseudocode:
    1.)Create a new tuple by adding them.
    2.)loop through them to append only value not already present
    3.)finally use sorted method on the list.

In [ ]:
l1 = (10,45,21,47,10,74,85)
l2 = (100,200,45,45,21,21,74,85)

# l3 = [10,21,45,47,74,85,100,200]

In [57]:
t1 = (1,2,5,6)
t2 = (7,9,8,11)
t3 = tuple(t1+t2)
t4 = []
for i in t3:
    if i not in t4:
        t4.append(i)
t4.sort()
t4

[1, 2, 5, 6, 7, 8, 9, 11]

In [58]:
t1 = (1,2,5,6)
t2 = (7,9,8,11)

t3  = t1+t2

print(type(t3))

<class 'tuple'>

In [61]:
l1 = (1,2,3,4,4,5,6,4,5)
l2 = (8,9,7,4,5,6,1)
l3 = l1 + l2
print(type(l3))
x = sorted(set(l3))
print(x,type(x))

## sorted method returns a list, even if a set was passed to it.

<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

In [ ]:
# python is dynamically typed.
# "if it looks like a duck it is a duck!"

l3 = [1,2,3,4]

l3 = 'python'

l3 = 34


l3 = {'python':3,'java':8}

## DICT

In [ ]:
=> mutable

=> iterable

=> unordered : we can not do indexing and slicing.

Python 3.5 + dict are insertion ordered: when inserting key:value pairs in dict , they maintain the order in 
        which they were inserted.
        
        
=> dict basically stores data in key: value pairs.

In [64]:
test_dict = {'python':3,'numpy':1,'pandas':1,'scikitlearn':2}

In [65]:
# how do we access a value using key?
# key is python and value is 3
test_dict['python']

3

In [66]:
test_dict['numpy']

1

In [68]:
# how to add a new key-value pair?

test_dict['requests'] = 4

print(test_dict)

# Since dict are insertion ordered from python3.5+ requests will appear at the end.

{'python': 3, 'numpy': 1, 'pandas': 1, 'scikitlearn': 2, 'requests': 4}

In [69]:
# how do we modify the existing value in dict?

test_dict['requests'] = 10

print(test_dict)

{'python': 3, 'numpy': 1, 'pandas': 1, 'scikitlearn': 2, 'requests': 10}

In [ ]:
2 MOST IMP POINTS ABOUT DICT.

=> ALL THE KEYS SHOULD BE UNIQUE.

=> ALL THE KEYS SHOULD BE IMMUTABLE => INT,STR,FLOAT,TUPLE

In [ ]:
# WHY KEEPING KEYS AS MUTABLE WILL BE A BAD IDEA?

In [ ]:
hOMEWORK qUESTION:
    store alphabets as 'keys' and their ascii values as "values" to those keys.
    
    Hint: use 'ord' and 'chr'
        
    Pseudocode:
        1.) loop from a to z
        2.) store them as keys and find their ascii to store them as values.
        
PLEASE PLZZZZ USE DICT TO SOLVE THIS.